/*style for github page */
html {
  font-size: 12px; 
  }

body {
  padding-top: 25px;
  font-size: 15px; 
  font-family: 'Titillium Web', sans-serif;
  
 /* background-image: url("images/lights.png");color:yellow;background-position: center; background-size: cover;*/
  }
  


h1 {
	font-size: 8px;
	color: green;
}
h3{
    /*color: rgba(45, 45, 48,1);*/
	color: blue;
    }

h2, h4{
    color: rgba(255,255,255,1);
}
	
.footer {
  display: block;
  padding-left: 0px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px; 
  font-family: 'Titillium Web', sans-serif;
  }
   


#footSocial{
	font-size: 1 em !important;
	text-align: center !important;
	width: 100% !important;
    height: 10px !important;
	float: left !important;
	margin-top: 10px;
    margin-bottom: 20px;
}

#footSocial  a{
	font-size: 1 em !important;
	text-align: center !important;
	color: green !important;
	/*display: inline-block !important;*/
	font-size: 2em !important; 
	text-decoration:none;
}

#facebook{
    margin-left: 0px !important;
}
#twitter{
    margin-left: 70px!important;
}

#linkedin{
    margin-left: 80px !important;
}

#twitter:hover {
	color: #00aced !important;
}

#linkedin:hover {
	color: #00aced !important;
}

#facebook:hover {
	color: #3b5998 !important;
}

#footAddress {
	margin-left: 0px;
	text-align: left !important;
	width: 33% !important;
	height: 75px !important;
	float: left !important;
	position: block !important;
	color: green !important;
}

#footEmail {
	text-align: center !important;
	width: 33% !important;
	height: 50px !important;
	float: left !important;
	position: block !important;
	color: green !important;
}

#footPhone {
	text-align: right !important;
	width: 33% !important;
	height: 50px !important;
	float: left !important;
	position: block !important;
	color: green !important;
}

div.row {
  width: 100%;
  margin-top: 10px; 
  overflow: hidden;
  padding: 0px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

div.container-top { 
	width: 100%;
	margin-top: 10px; 
	margin-bottom: 10px;
}
.container-top img{ width: 100%;}
.container-fluid p{ margin-left: 10px; margin-right: 10px;}

.container-fluid img {border-radius: 10px;}

/*div.slideanim {background-color: blue;width: 350px;height: 200px;
    border: 5px solid blue;padding: 10px;
	margin:5px;position:relative;
    opacity: 0.3;font-size:20px;
	text-align: center;
	padding-left: 50px;padding-top: 50px; border-radius: 10px;}*/


/*welcome container styling
.jumbotron {
  width: 100%;
  font-size: 10px;
  text-align: center;
  background-color: transparent;
  margin-top: -60px;
  margin-bottom: -60px;
  } 
  #rights {
	font-size: 0.8em !important;
	text-align: center !important;
	color: green !important;
}

  */
 


