/*style for github page */
html {
  font-size: 12px; 
  }

body {
  padding-top: 25px;
  font-size: 1.4em; 
  font-family: 'Titillium Web', sans-serif;
  }

.header h1 {
    letter-spacing: 4px;
    /*color: rgba(45, 45, 48, 1);*/
	color: blue;
}
h3{
    color: rgba(45, 45, 48,1);
    }

h2, h4{
    color: rgba(255,255,255,1);
}
	
.footer {
  display: block;
  padding-left: 30px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px; 
  font-family: 'Titillium Web', sans-serif;
  }
   
#rights {
	font-size: 0.8em !important;
	text-align: center !important;
	color: green !important;
}

#footSocial{
	text-align: center !important;
	width: 100% !important;
    height: 10px !important;
	float: left !important;
	margin-top: 0px;
    margin-bottom: 50px;
}

#footSocial a {
	text-align: center !important;
	color: green !important;
	/*display: inline-block !important;*/
	font-size: 2em !important; 
	text-decoration:none;
}

#facebook{
    margin-left: 0% !important;
}
#twitter{
    margin-left: 40% !important;
}

#twitter:hover {
	color: #00aced !important;
}

#facebook:hover {
	color: #3b5998 !important;
}

#footAddress {
	margin-left: 1%;
	text-align: left !important;
	width: 33% !important;
	height: 75px !important;
	float: left !important;
	position: block !important;
	color: green !important;
}

#footEmail {
	text-align: center !important;
	width: 33% !important;
	height: 50px !important;
	float: left !important;
	position: block !important;
	color: green !important;
}

#footPhone {
	text-align: right !important;
	width: 33% !important;
	height: 50px !important;
	float: left !important;
	position: block !important;
	color: green !important;
}
/*welcome container styling*/
.jumbotron {
  width: 100%;
  text-align: center;
  background-color: transparent;
  margin-top: -60px;
  margin-bottom: -60px;
  }
div.row {
  width: 100%;
  margin-top: 10px; 
  overflow: hidden;
  padding: 0px;
  margin-bottom: 10px;
}